<a href="" onclick='$("#map-edit-form #map_id").val("{map_id}");
                    $("#map-edit-form #input_pid").val("{input_pid}");
                    $("#map-edit-form #output_pid").val("{output_pid}");
                    edit_map_dialog();
                   return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
<a onclick="delete_map({map_id}); return false;"  href=""><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
